
html {
	background: url(../images/cherrywood.jpg);
	height: 100vh;
}
body {
	margin: 50px 0 0 50px;
	border: none; /*5px solid black;*/
	background: url(../images/calendar.jpg);
	background-repeat: no-repeat;
	background-size: 50%;
	width: 50%;
}



.calculator {
	margin: 0 0 0 67.5%;
	display: flex;
	flex-direction: column;
	justify-content: start;
	align-items: start;
	border: none; /*3px solid purple;*/
	background: url(../images/calc.png);
	background-repeat: no-repeat;
	background-size: 100%;
	width: 350px;
}

.display {
	margin: 80px 0 0 31px;
	border: transparent; /*3px solid green;*/
	background: transparent;
	width: 265px;
	line-height: 75px;
	padding: 0 0 0 5px;
	text-align: end;
	font-size: 30px;
	opacity: 0.6;
	font-weight: bold;
	overflow: hidden;
}

.keypad {
	display: grid;
	border: none /*3px solid purple;*/
	background: transparent;
	margin: 40px 0 0 25px;
	width: 300px;
	height: 300px;
	grid-template-columns: repeat(5, 60px);
	grid-template-rows: repeat(6, 45px);
	grid-template-areas:
	   "power sign sqrt b c"
	   "mc mr mm mp divid"
	   "mod seven eight nine mult"
	   "bkspc four five six minus"
	   "CE one two three plus"
	   "pi dot zero enter plus"

} 

.buttons{
	border: transparent;
	background: transparent;
	color: transparent;
	width: 50px;
	height: 30px;

}

/* Row 1 */
.button28{
	grid-area: power;
}
.button10{
	grid-area: sign;
}
.button19{
	grid-area: sqrt;
}
.button22{
	grid-area: b;
	margin: 10px 0 0 5px;
	height: 18px;
	width: 38px;
	border-radius: 5px;
	background: #777a7f;
}
.button23{
	grid-area: c;
	margin: 10px 0 0 5px;
	height: 18px;
	width: 38px;
	border-radius: 5px;
	background: #777a7f;
}


/* Row 2 */
.button21{
	grid-area: mc;
}

.button24{
	grid-area: mr;
}
.button25{
	grid-area: mm;
}
.button26{
	grid-area: mp;
}
.button16{
	grid-area: divid;
}


/* Row 3 */
.button18{
	grid-area: mod;
}
.button7{
	grid-area: seven;
}
.button8{
	grid-area: eight;
}
.button9{
	grid-area: nine;
}
.button17{
	grid-area: mult;
}


/* Row 4 */
.button20{
	grid-area: bkspc;
}
.button4{
	grid-area: four;
}
.button5{
	grid-area: five;
}
.button6{
	grid-area: six;
}
.button15{
	grid-area: minus;
}


/* Row 5 */
.button13{
	grid-area: CE;
}
.button1{
	grid-area: one;
}
.button2{
	grid-area: two;
}
.button3{
	grid-area: three;
}
.button14{
	grid-area: plus;
	height: 75px;
}


/* Row 6 */
.button27{
	grid-area: pi;
}
.button11{
	grid-area: dot;

}
.button0{
	grid-area: zero;
}
.button12{
	grid-area: enter;
}



